Repository kngzero/ML-Moodboard-Maker, changes with the labels that .github/labeler.yml gives for each.
All labels: web, desktop, docs, build

.github/labeler.yml:

# .github/labeler.yml
web:
  - 'src/**'
desktop:
  - 'src-tauri/**'
docs:
  - 'docs/**'
build:
  - '.github/**'

Create labeler.yml
  .github/workflows/labeler.yml
Labels: build

Create dependabot.yml
  .github/dependabot.yml
Labels: build

Update CODEOWNERS
  .github/CODEOWNERS
Labels: build

Create tauri-release.yml
  .github/workflows/tauri-release.yml
Labels: build

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

feat: add toolbar header
  src/App.jsx
Labels: web

Add info dropdown to toolbar
  src/App.jsx
Labels: web

Toggle asset panel
  src/App.jsx
Labels: web

chore: add Method Mosaic logo
  README.md
  index.html
  logo.svg
  package-lock.json
  package.json
  src/App.jsx
  src/components/Review.jsx
  vite.config.js
Labels: web

fix: update deployment base path
  vite.config.js
Labels: none

feat: add template presets component
  src/App.jsx
  src/components/TemplateSelector.jsx
Labels: web

feat: add safe margin overlay component
  src/App.jsx
  src/components/SafeMarginOverlay.jsx
Labels: web

Adjust export dimensions
  src/App.jsx
  src/components/TemplateSelector.jsx
Labels: web

Update TemplateSelector.jsx
  src/components/TemplateSelector.jsx
Labels: web

feat: add asset removal and review modal
  src/App.jsx
  src/components/AssetPanel.jsx
Labels: web

feat: place header in top bar
  src/App.jsx
Labels: web

Add side drawers for assets and settings
  src/App.jsx
  src/components/AssetPanel.jsx
  src/components/SettingsDrawer.jsx
Labels: web

Fix header and drawer positions
  src/App.jsx
  src/components/AssetPanel.jsx
  src/components/SettingsDrawer.jsx
  src/index.css
Labels: web

Update AssetPanel.jsx
  src/components/AssetPanel.jsx
Labels: web

Remove card background and rounding
  src/App.jsx
Labels: web

Update TemplateSelector.jsx
  src/components/TemplateSelector.jsx
Labels: web

Update TemplateSelector.jsx
  src/components/TemplateSelector.jsx
Labels: web

Update AssetPanel.jsx
  src/components/AssetPanel.jsx
Labels: web

style: render header logo in black
  src/App.jsx
Labels: web

Make sliders black using accent color
  src/components/ui/slider.jsx
Labels: web

fix: enforce light theme
  index.html
  tailwind.config.js
Labels: none

feat: virtualize board image rendering
  src/App.jsx
  src/components/VirtualImage.jsx
Labels: web

feat: add .mlmboard save and load
  package-lock.json
  package.json
  src/App.jsx
Labels: web

docs: expand README
  README.md
Labels: none

Create LICENSE
  LICENSE
Labels: none

feat: default button type
  src/components/ui/button.jsx
Labels: web

refactor: memoize export handler
  src/App.jsx
Labels: web

Wrap crop handlers in useCallback
  src/App.jsx
Labels: web

fix: secure review link
  src/components/Review.jsx
Labels: web

Remove redundant settings icon
  src/App.jsx
Labels: web

Add canvas zoom control
  src/App.jsx
Labels: web

Scale board container with zoom
  src/App.jsx
Labels: web

refactor: allow asset items to keep natural size
  src/components/AssetPanel.jsx
Labels: web

Remove unused ChevronLeft import
  src/components/AssetPanel.jsx
Labels: web
